BasedOnStyle: LLVM
IndentWidth: 3
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: Align
AlignOperands: Align
BreakBeforeBraces: Linux
PointerAlignment: Left
SpaceAfterCStyleCast: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: false
IncludeBlocks: Preserve
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInParentheses: false
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: false